@()(implicit request: RequestHeader, flash: Flash)

@main("r_messageLogin") {

    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="viewDms" value="@routes.Rapp.viewDms()">
    <input type="hidden" id="getConvo" value="@routes.Rapp.getConvo()">
    <input type="hidden" id="newMessage" value="@routes.Rapp.newMessage()">
    <input type="hidden" id="getUser" value="@routes.Rapp.getUser()">
    <input type="hidden" id="getPosts" value="@routes.Rapp.getPosts()">
    <input type="hidden" id="logout" value="@routes.Rapp.logout()">
    <input type="hidden" id="newPost" value="@routes.Rapp.newPost()">
    <input type="hidden" id="openDms" value="@routes.Rapp.openDms()">
    <input type="hidden" id="submitLogin" value="@routes.Rapp.submitLogin()">
    <input type="hidden" id="newUser" value="@routes.Rapp.newUser()">
    <input type="hidden" id="viewDms" value="@routes.Rapp.viewDms()">
    <div id="react-root">Hello</div>
    <script type="module" src="@routes.Assets.versioned("javascript/messageRoot.js")"></script>

}   